/*----------------------*/
/*   font import       */
/*--------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

/*----------------------*/
/*   global style      */
/*--------------------*/
* {
	box-sizing:border-box;
	outline: none; 
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
textarea, input, button{ 
	
	border: none;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	color: #1f1f1f;
	line-height: 1.4;
	font-weight: 700;
	text-align: left;
}
h1 {
	font-size: 2.8rem;
	letter-spacing: .05rem;
	line-height: 1.5
}
h2 {
	font-size: 2rem;
	letter-spacing: .05rem;
}
h3 {
	font-size: 1.6rem;
	letter-spacing: .07rem;
	text-transform: uppercase;
}
h4 {
	font-size: 1.4rem;
	letter-spacing: .07rem;
	font-style: italic;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#313131;
	font-size: 1.4rem;
	letter-spacing: .07rem;
	line-height: 1.4;
	margin-bottom:1.5rem;
}

/* placeholder style */
::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; } /* firefox 19+ */
:-ms-input-placeholder { color:#fff; } /* ie */
input:-moz-placeholder { color:#fff; }
.container {
	height: 100%;
	max-width: 112rem !important;
}
a.btn {
	border-radius: .3rem;
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	display: block;
	padding:1rem 2rem;
	color:#fff;
	background: #c61717;
	width: 20rem;
	position: absolute;
	bottom:2.4rem;
	left:0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}
a.btn:hover {
	color: #fff;
	background: #e51a1a;
}
.roundCorner {
	text-align: center;
	background: #3f5f7a;
}
.roundCorner:hover {
	background: #fff;
}
/*----------------------*/
/*     page style      */
/*--------------------*/
html {
	height: 100%;
	font-size: 62.5%;
}
body {
}

/* wrappers */
.wrapper {
	width:100%;
}
.inside {
	padding-top:4rem;
	background: url(../img/background/neu-bg.png) no-repeat 20% 100%;
}
header, footer {
	background: #f0f0f0;
}

/* header */
header {
	height: 11rem;
	border-bottom: 1px #f00 solid;
}
#logo {
	background: url(../img/logo/ampl-logo.png) no-repeat 50% 70%;
	height: 100%;
}
#headerLinks {
	position: relative;
	height: 100%;
}
nav {
	position:absolute;
	bottom:0rem;
}
.nav>li>a, #topLinks a, #topLinks {
	color:#c61717;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
}
.nav>li {
	padding: 1.5rem;
	text-align: center;
}
.nav>li>a {
	display: inline;
	padding: 0;
	padding-bottom: 1.2rem;
}
.nav>li:hover>a, .nav>li.active>a {
	background: none;
	border-bottom: 5px #c61717 solid;
}
.nav>li:hover>ul {
	display: block;
}
.nav ul {
	display: none;
	position: absolute;
	top:5rem;
	left:5.1rem;
	min-width: 20rem;
	background: rgba(240, 240, 240, .8);
	z-index: 2;
	padding-left: 0;
}
.nav ul li {
	text-align: left;
	list-style: none;
}
.nav ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	color:#313131;
	display: block;
	padding: 1.2rem;
}
.nav ul li a:hover {
	text-decoration: none;
	background: #c61717;
	color: #fff;
}
#topLinks {
	margin-top: 2rem;

}
#topLinks a {
	padding:0 1rem;
	font-size: 1.2rem;
}
/* main */
main {
	padding: 2rem 0 4rem 0;
}
#banner {
	width: 100%;
	margin-bottom: 2rem;
}
#banner img {
	width: 100%;
}
#contactBox {
	background: #fe9528;
	padding:3rem;
	padding-bottom:2rem;
}
#contactBox address, #contactBox address a {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
}
.homeBox {
	border: 1px #b3b3b3 solid;
	height: 27rem;
	padding: 2rem;
}
#research {
	background: #f6f6f6;
}
#publication {
	background: #fffaec;
}
.homeBox h2 {
	margin-top:1rem;
	margin-bottom: 2rem;
	text-align: center;
}
.homeBox li {
	margin-bottom:1rem;
}
.homeBox p {
	line-height: 1.6;
}
/* inside page */
#profile, .profileGrid {
	background: #e9e9e9;
	border:1px #c7c7c7 solid;
	padding:2rem;
	margin-left:2rem;
}
.profileGrid {
	margin-left: 0;
	margin-bottom:2rem;
	text-align: center;
	cursor: pointer;
}
.profileGrid h3 {
	text-align: center;
	margin-bottom: .5rem;
}
.profileGrid span {
	color: #666;
}
.modal-body {
	padding: 2rem 3rem;
}
.modal-body h1 {
	margin-left:2rem;
}

#bio {
	margin-left:4rem;
}
#bio h1:before, .modal-body h1:before{
	content:'';
	border-left:1rem #c61717 solid;
	position: absolute;
	left:2rem;
	display: block;
	height: 5rem;
}

/* footer */
footer {
	height:6rem;
	padding: 1.5rem;
}
#neuLogo {
	background: url(../img/logo/ne-logo.png) no-repeat;
	height: 100%;
}
#copyRight {
	text-align: right;
	font-size: 1.2rem;
}
